preprod-api.parisinfo.com {
    reverse_proxy api:8000 {
        header_up Host localhost
    }

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }

    log {
        output stdout
        format json
    }
}

preprod-mcp.parisinfo.com {
    reverse_proxy mcp:8001 {
        header_up Host localhost
    }

    header {
        X-Content-Type-Options nosniff
        -Server
    }

    log {
        output stdout
        format json
    }
}
